<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <title>TinyApp</title>

<body>

<div class="jumbotron">
  <h1>Welcome to TinyApp</h1>      
  <p>a place to shorten your urls and store them </p>
</div>

<div class="container">
    <form class="form-inline" 
    action="/login" 
    method="POST">
    <div class="form-group mb-2">
        <h3>Welcome back!</h3>
    <input class="form-control" 
        type="email" 
        name="username" 
        placeholder="Sign In" 
        style="width: 300px; margin: 1em">
    <input class="form-control" 
        type="password" 
        name="password" 
        placeholder="Password" 
        style="width: 300px; margin: 1em">
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </form>

    <h4>Not registered?</h4>
    <h5>Register now!</h5>

    <form class="form-inline" 
            action="/register" 
            method="POST">
        <div class="form-group mb-2">
        <!-- <input class="form-control" 
                type="text" 
                name="username" 
                placeholder="Username" 
                style="width: 300px; margin: 1em">     -->
        <input class="form-control" 
                type="email" 
                name="email" 
                placeholder="Email" 
                style="width: 300px; margin: 1em">
        <input class="form-control" 
                type="password" 
                name="password" 
                placeholder="Password" 
                style="width: 300px; margin: 1em">
        <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>    
</div>

</body>
</html>

<!-- //window.alert("Ooops, try again!") )
} else { -->